// =======================
// $Base Styles
// =======================

html,
body {
  height: 100%;
}


body{
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #222;
	-webkit-font-smoothing: antialiased;
}