// =======================
// $Base Styles
// =======================

html,
body {
  height: 100%;
}


body{
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #222;
	-webkit-font-smoothing: antialiased;
}

.main-content{
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -80px;
}