// =======================
// $Base Styles
// =======================

html,
body {
  height: 100%;
}


body{
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #222;
	-webkit-font-smoothing: antialiased;
}

hr{
	margin: 1em 0;
	width: 100%;
	border: 0;
	border-top: 1px solid #ccc;
}