{% extends 'layout.html' %}
{% block content %}
  <div class="playlist-create">
    <div class="wrapper">
      <h2>Create a new playlist</h2>

      <form class="track-form" action="/process-new-playlist/" method="post">
        <div class="chosen-tracks-container">
          <ul class="chosen-tracks">
            {% for i in [0, 1, 2] %}
            <li>
              <!-- Track {{ i }} -->
              <span class="track-number-label">Track {{ i+1 }}</span>
              <input data-index="{{ i }}" class="playlist-track-select" type="radio" name="track[]" id="playlist-track-{{ i }}" {% if i == 0 %}checked="checked"{% endif %}>
              <label for="playlist-track-{{ i }}"></label>
              <div class="chosen-track-art">
                <img src="" alt="Track {{ i }} album art" />
              </div>
              <p></p>
              <input type="hidden" id="track-{{ i }}-title" name="track{{ i }}title" class="track-info-title">
              <input type="hidden" id="track-{{ i }}-id" name="track{{ i }}id" class="track-info-id">
              <input type="hidden" id="track-{{ i }}-source" name="track{{ i }}source">
              <input type="hidden" id="track-{{ i }}-url" name="track{{ i }}url">
              <input type="hidden" id="track-{{ i }}-artwork" name="track{{ i }}artwork">
              <input type="hidden" id="track-{{ i }}-duration" name="track{{ i }}duration">
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="playlist-create-title-container">
          <input type="text" class="new-playlist-title input-field" name="title" placeholder="Title">
          <input type="submit" class="btn" value="Create Playlist!">
        </div>
      </form>

      <form class="track-search">
        <div class="track-search-input-container">
          <input type="text" class="track-search-query input-field" placeholder="Track name or artist">
        </div>
        <div class="track-search-submit-container">
          <input type="submit" value="Search" class="btn track-search-submit">
        </div>

        <ul class="track-search-results"></ul>
      </form>


    </div>
  </div>
{% endblock %}

{% block scripts %}
<script>
TWM.Playlist.Create.TrackSearch.start()
</script>
{% endblock %}