// =======================
// Basic $Layout Elements
// =======================
.main-content{
	min-height: 100%;
	margin: 0 auto -60px; //60px footer height

	.user-on-mobile &{
		display: none;
	}

	.playlist-playing &{
		background: $light-grey;
	}
}

.wrapper{
	position: relative;
	width: 720px;
	margin: 0 auto;
}

.large-wrapper{
	position: relative;
	max-width: 1200px;
	min-width: 800px;
	margin: 0 auto;
}