// =======================
// Basic $Layout Elements
// =======================
.wrapper{
	position: relative;
	width: 720px;
	margin: 0 auto;
}

.large-wrapper{
	max-width: 1200px;
	min-width: 800px;
	margin: 0 auto;
}