//Chat
.messages-container{
	position: fixed;
	top: 0;
	right: 0;
	left: $left-rail-width;
	bottom: 2em;
	padding: 0 2em;

	.playlist-full &{
		display: none;
	}

	.messages {
		@extend .large-wrapper;
		height: 100%;
		padding-bottom: $new-message-container-height;
	}
}

.messages-inner{
	padding: 1em;
	overflow: hidden;
	font-family: $sans-light;
	width: 100%;
	height: 100%;
	position: relative;

	.playlist-waiting &{
		display: table;
	}
}

.chat-message{
	position: relative;
	width: 100%;
	margin-bottom: 2.5em;
	text-align: right;
	font-weight: 300;

	&.remote{
		text-align: left;
	}
}

.log-message {
	text-align: center;
	font-size: .8em;
	padding: 1em 0;
	color: $dark-grey;

	.log-message-content,
	.log-message-timestamp {
		display: block;
		line-height: 1.4;
	}
}

.error-message {
	@extend .log-message;
	color: tomato;
}

$avatar-width: 50px;

.chat-avatar-and-time{
	position: absolute;
	bottom: -40px;
	right: 0;
	width: $avatar-width;

	.remote &{
		left: 0;
		right: auto;

		.remote-user-disconnected & .chat-message-avatar{
			opacity: 0.5;
		}
	}

	@include smaller-than(extra-large){
		right: 10px;

		.remote &{
			left: 10px;
		}
	}
}

.chat-message-avatar{
	width: $avatar-width;
	height: $avatar-width;
	margin-bottom: -3px;
	border-radius: 100%;
}

.chat-message-timestamp{
	display: inline-block;
	width: 100%;
	font-size: 0.6em;
	text-align: center;
	color: $dark-grey;
}

.chat-message-content{
	position: relative;
	display: inline-block;
	max-width: 50%;
	padding: 0.5em 0.75em 0.6em;
	margin-right: $avatar-width + 30px;
	font-size: 1em;
	color: $off-black;
	font-weight: 300;
	text-align: left;
	line-height: 1.1;
	background: white;
	border: 1px solid $border-grey;
	word-wrap: break-word;

	img{
		display: block;
		max-width: 100%;
		margin-top: 1em;
	}

	&:before, &:after{
		content: '';
		position: absolute;
		top: 15px;
		bottom: 0;
		border-bottom: 13px solid white;
		right: -10px;
		border-right: 12px solid transparent;
		border-left: 0 solid transparent;
	}

	&:before{
		top: 16px;
		bottom: -1px;
		border-bottom: 13px solid $grey;
		right: -12px;
		border-right-width: 12px;
		border-left: 0 solid transparent;
	}

	a{
		color: blue;
		text-decoration: underline;
	}

	.remote &{
		margin-left: $avatar-width + 30px;

		&:before, &:after{
			left: -10px;
			right: auto;
			border-left: 12px solid transparent;
			border-right: 0 solid transparent;
		}

		&:before{
			left: -12px;
			border-left-width: 12px;
		}

		.remote-user-disconnected &{
			opacity: 0.5;
		}
	}
}




//New message
.new-message-container{
	height: $new-message-container-height;
	position: absolute;
	bottom: 0;
	width: 100%;
	.large-wrapper{
		height: 100%;
	}
}

.new-message-field-container{
	position: absolute;
	left: 0;
	right: 79px; //80px width of button - 1px so it overlaps
	top: 0;
	bottom: 0;
}

.new-message-field{
	width: 100%;
	height: 100%;
	padding: 0 0.5em 0.1em 0.8em;
	font-size: 1em;
	font-family: $sans-light;
	font-weight: 300;
	border: 1px solid $border-grey;
	@extend .transition;

	&:focus{
		outline: 0;
		border-color: $dark-grey;
	}
}

.new-message-button{
	position: absolute;
	width: 80px;
	height: 100%;
	right: 0;
	font-size: 1em;
	line-height: 1;
	cursor: pointer;
	outline: 0;
	border: 0;
	@extend .transition;
}