//Chat
.messages{
	position: relative;
	font-family: $sans-light;
	margin-top: 2em;
}

.message-list{
	padding: 1em 1em 2em;
	height: 20em;
	overflow: auto;
	border-top: 1px solid $grey;
	background: $light-grey;
}

.chat-message{
	position: relative;
	width: 100%;
	margin-bottom: 1.75em;
	text-align: right;

	&.remote{
		text-align: left;
	}
}

.log-message {
	text-align: center;
	font-size: .8em;
	padding: 1em 0;
	color: $dark-grey;
	.log-message-content,
	.log-message-timestamp {
		display: block;
		line-height: 1.4;
	}
}

.chat-avatar-and-time{
	position: absolute;
	bottom: -32px;
	right: 0;
	width: 32px;

	.remote &{
		left: 0;
		right: auto;
		.remote-user-disconnected & .chat-message-avatar{
			opacity: .5;
		}
	}
}

.chat-message-avatar{
	width: 32px;
	height: 32px;
	margin-bottom: -3px;
	border-radius: 100%;
}

.chat-message-timestamp{
	display: inline-block;
	width: 100%;
	font-size: 0.6em;
	text-align: center;
	color: $dark-grey;
}

.chat-message-content{
	position: relative;
	display: inline-block;
	max-width: 50%;
	padding: 0.5em 0.75em 0.6em;
	margin-right: 50px;
	font-size: 0.85em;
	color: $off-black;
	text-align: left;
	background: white;
	border: 1px solid $grey;

	&:before, &:after{
		content: '';
		position: absolute;
		top: 15px;
		bottom: 0;
		border-bottom: 13px solid white;
		right: -10px;
		border-right: 12px solid transparent;
		border-left: 0 solid transparent;
	}

	&:before{
		top: 16px;
		bottom: -1px;
		border-bottom: 13px solid $grey;
		right: -12px;
		border-right-width: 12px;
		border-left: 0 solid transparent;
	}

	a{
		color: blue;
		text-decoration: underline;
	}

	.remote &{
		margin-left: 50px;

		&:before, &:after{
			left: -10px;
			right: auto;
			border-left: 12px solid transparent;
			border-right: 0 solid transparent;
		}

		&:before{
			left: -12px;
			border-left-width: 12px;
		}
	}
}

//New message
.new-message-container{
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	height: 45px;
	margin-top: 0.75em;
}

.new-message-avatar{
	width: 40px;
	height: 40px;
	margin-top: 2px;
	border-radius: 100%;
}

.new-message-field-container{
	position: absolute;
	left: 50px;
	right: 74px; //75px width of button - 1px so it overlaps
	top: 0;
	bottom: 0;
}

.new-message-field{
	width: 100%;
	height: 100%;
	padding: 0.5em 0.5em 0 0.8em;
	line-height: 1.3;
	font-size: 0.85em;
	font-family: $sans-light;
	border: 1px solid $grey;
	resize: none;
	@extend .transition;

	&:focus{
		outline: 0;
		border-color: $dark-grey;
	}
}

.new-message-button{
	position: absolute;
	width: 75px;
	height: 100%;
	right: 0;
	font-size: 1em;
	font-family: $sans-light;
	background: $green;
	color: white;
	border: 1px solid $green;
	cursor: pointer;
	outline: 0;
	@extend .transition;

	&:hover{
		background: white;
		color: $green;
	}
}