// =======================
// Feedback tab
// =======================
#doorbell-button{
  top: 45%;
  right: -30px;
  bottom: auto;
  height: 2em;
  padding: 10px 15px 25px;
  background: $black;
  font-family: $sans-special;
  font-size: 1em;
  @include transform(rotate(-90deg));

  &:hover, &:focus, &:active{
  	background: $green;
  	color: $black;
  	outline: 0;
  }
}

#doorbell{
	form{
		padding: 15px 20px 20px;
		border: 1px solid $border-grey;
		-webkit-box-shadow: none;
		box-shadow: none;
		border-radius: 0;

		legend{
			@extend h2;
			margin-bottom: 0.7em;
			border: 0;
		}

		textarea, input[type="email"]{
			width: calc(96% - 2px);
			padding: 0.5em 2%;
			font-family: $sans-light;
			font-size: 0.9em;
			border: 1px solid $border-grey;

			&:focus{
				border-color: $black;
				outline: 0;
			}
		}
	}

	input[type="email"]{
		height: 2em;
	}

	.close{
		top: 15px;
		right: 20px;
		font-size: 2em;
		width: 26px;
		height: 26px;
		line-height: 0.9;
		text-shadow: none;
		border-radius: 100%;
		background: $black;
		font-family: $sans-special;
		font-weight: 100;
		color: $green;
		opacity: 1;
		text-align: center;

		&:hover{
			color: $black;
			background: $green;
		}
	}
}

#doorbell-submit-button{
	@extend .btn-black;
	margin-bottom: 1em;
	font-size: 1em;
}

#doorbell-powered-by{
	color: $grey;

	&:hover{
		color: $black;
		text-decoration: underline;
	}
}