// =======================
// Footer
// =======================
.footer-push{
	height: $footer-height;
}

.main-footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: $footer-height;
	padding: 10px 0;
	text-align: center;
	font-family: $sans-special;
	color: $dark-grey;
	overflow: hidden;
	z-index: 10;

	@include smaller-than(extra-large){
		padding-left: 20px;
		padding-right: 20px;
	}

	.left-aligned-homepage &{
		padding: 1em 0 0 4em;
	}

	.playback-page &{
		display: none;
	}

	.user-on-mobile &, .playlist-waiting &{
		display: none;
	}

	ul{
		display: inline-block;
		margin: 1em 0;
	}

	li{
		display: inline-block;
	}

	a:hover{
		text-decoration: underline;
		color: $black;
	}

	a, input{
		&:focus, &:active{
			outline: none;
			border: 1px solid $black;
		}
	}
}

.feedback-link{
	display: inline-block;
}

#barometer_tab{
	display: none;
}

.signup-form{
	display: inline-block;
	height: 2em;
	line-height: 2;

	.email, .email-submit-link{
		float: left;
		height: 100%;
	}

	.input-field{
		width: 180px;
		padding: 0.25em 0.25em 0.4em 0.5em;
		margin-right: 0.25em;
		border: 1px solid $border-grey;
		font-size: 13px;

		&:focus{
			border-color: $black;
		}

		&::-webkit-input-placeholder {
			color: $grey;
		}

		&:-moz-placeholder {
			color: $grey;
		}

		&::-moz-placeholder {
			color: $grey;
		}

		&:-ms-input-placeholder {
			color: $grey;
		}
	}
}

.email-submit-link{
	position: relative;
	padding: 0 1em 0 0.5em;
	cursor: pointer;
	color: $dark-grey;
	font-weight: 700;
	font-family: $sans-special;
	@include icomoon('double-right-arrow', after);

	&:hover, &:hover input{
		color: $black;
		text-decoration: underline;
	}

	&:after{
		position: absolute;
		top: 7px;
		right: 0;
	}

	input{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		background: none;
		cursor: pointer;
		border: 0;
		-webkit-appearance: none;
		outline: 0;
	}
}