// =======================
// Footer
// =======================
$footer-height: 60px;

.footer-push{
	height: 150px;
}

.main-footer{
	height: $footer-height;
	padding: 10px 20px;
	text-align: center;
	font-family: $sans-special;
	font-size: 14px;
	color: $dark-grey;

	.user-on-mobile &, .playlist-waiting &{
		display: none;
	}

	ul{
		float: right;
		height: 100%;
		line-height: 2em;
	}

	li{
		display: inline-block;
	}

	a:hover{
		text-decoration: underline;
		color: $black;
	}
}

#mc_embed_signup{
	float: left;
}

.signup-form{
	height: 2em;
	line-height: 2;

	.email, .email-submit-link{
		float: left;
		height: 100%;
	}

	.input-field{
		width: 180px;
		padding: 0.25em 0.25em 0.4em 0.5em;
		margin-right: 0.25em;
		border: 1px solid $border-grey;
		font-size: 13px;

		&:focus{
			border-color: $black;
		}

		&::-webkit-input-placeholder {
			color: $grey;
		}

		&:-moz-placeholder {
			color: $grey;
		}

		&::-moz-placeholder {
			color: $grey;
		}

		&:-ms-input-placeholder {
			color: $grey;
		}
	}
}

.email-submit-link{
	position: relative;
	padding: 0 1em 0 0.5em;
	cursor: pointer;
	color: $dark-grey;
	font-family: $sans-special;
	text-decoration: underline;
	@include icomoon('double-right-arrow', after);

	&:hover, &:hover input{
		color: $black;
	}

	&:after{
		position: absolute;
		top: 7px;
		right: 0;
	}

	input{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		background: none;
		cursor: pointer;
		border: 0;
		-webkit-appearance: none;
	}
}