// =======================
// Homepage
// =======================
.playlist-create{
	padding: 3.5em 4em;

	.main-content{
		.no-previous-playlists &{
			margin: 0;
			display: table;
		}
	}

	.main-footer{
		text-align: left;
	}
}

.playlist-create-inner{
	h1{
		width: 50%;
		min-width: 450px;
	}

	.create-playlist-btn{
		display: inline-block;
		width: auto;
		min-width: 0;
		background: 0;
		border: 0;
		outline: 0;
		@extend h1;
		color: $green;
		text-align: left;
		cursor: pointer;
		min-width: 0;
		width: auto;
		border-bottom: 2px solid;

		&:hover{
			text-decoration: none;
			color: $black;
		}
	}

	.no-previous-playlists &{
		.wrapper{
			margin-top: -1 * $footer-height;
		}
	}
}

.static-logo{
	display: block;

	.new-playlist-loading &{
		display: none;
	}
}

.animated-logo{
	display: none;

	.new-playlist-loading &{
		display: block;
	}
}




// Previous Playlists
.previous-playlists-container{
	margin: 10em 0 4em;

	h2{
		margin-bottom: 0.5em;
	}

	table{
		table-layout: auto;
		border: 1px solid $border-grey;
	}

	tr{
		cursor: pointer;

		&:hover td:first-child{
			text-decoration: underline;
		}
	}

	th, td{
		max-width: 300px;
		padding: 1em;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		border: 0;
	}
}