// =======================
// Playlist Create
// =======================
.playlist-create{
	text-align: center;

	.main-content{
		margin-top: 4em;

		.no-previous-playlists &{
			margin: 0;
			display: table;
		}
	}
}

.playlist-create-inner{
	.no-previous-playlists &{
		display: table-cell;
		vertical-align: middle;
		width: 100%;

		.wrapper{
			margin-top: -1 * $footer-height;
		}
	}
}

.static-logo{
	display: block;

	.new-playlist-loading &{
		display: none;
	}
}

.animated-logo{
	display: none;

	.new-playlist-loading &{
		display: block;
	}
}




// Previous Playlists
.previous-playlists{
	margin: 6em auto;

	table{
		table-layout: auto;
	}

	th, a{
		padding: 1em;
	}

	.basic-table-row:hover{
		cursor: pointer;
		background: $green;
	}

	a{
		display: block;
	}
}