// =======================
// Playback search
// =======================
.playback-page{
	.track-search-results-container{
		opacity: 1;
		position: fixed;
		top: -100%;
		width: $left-rail-width;
		height: 100%;
		padding-bottom: $playback-header-height + $playback-search-height;
		overflow: hidden;
		border-right: 1px solid $border-grey;
		z-index: 10;

		&.visible{
			top: $playback-header-height + $playback-search-height;
		}

		td{
			color: white;
		}
	}

	.track-search-results{
		margin: 0;
	}

	.track-search-result{
		background: $black;
		border-bottom: 1px solid $off-black;

		.track-search-result-duration{
			text-align: right;
		}

		&:hover{
			background: $off-black;

			.track-search-result-source{
				opacity: 1;
			}
		}
	}

	.track-search-input-container{
		position: relative;
		height: $playback-search-height;
		z-index: 100;
		border: 1px solid $border-grey;
	}

	.track-search-input{
		height: 100%;
		padding-left: 1em;
		font-size: 0.9em;
		border: 0;
		background: $off-white;

		&::-webkit-input-placeholder {
			color: $dark-grey;
		}

		&:-moz-placeholder {
			color: $dark-grey;
		}

		&::-moz-placeholder {
			color: $dark-grey;
		}

		&:-ms-input-placeholder {
			color: $dark-grey;
		}
	}

	.search-submit{
		position: absolute;
		right: 0;
		top: 0;
		width: $playback-search-height;
		height: 100%;
		@include icomoon(search);
		font-size: 1em;
		line-height: 0.9em;

		&:hover, &:focus{
			text-decoration: none;
			background: $green;
			color: $black;
		}
	}

	.basic-table-row-title h5:hover{
		text-decoration: none;
	}

	.icon-soundcloud:before{
		content: '\f1be';
	}

	.icon-youtube:before{
		content: '\f166';
	}

	.preview-track-container{
		display: none;
	}
}

.track-search-result-source{
	position: absolute;
	left: -1 * ($basic-table-row-height);
	font-family: 'icomoon';
	background: $off-black;
	width: $basic-table-row-height;
	height: $basic-table-row-height;
	top: 0;
	line-height: $basic-table-row-height;
	text-align: center;
	font-size: 1.5em;
	opacity: 0;

	i{
		position: absolute;
		left: -9999px;
	}

	.highlight &{
	  -webkit-animation: highlight-flash 2s;
	  animation: highlight-flash 2s;
	}
}

.track-search-close{
	display: none;
	position: absolute;
	top: 0;
	right: 60px;
	bottom: 0;
	@include icomoon('plus');
	@include transform(rotate(45deg));
}