.playlist-track{
  display: inline-block;
}

.track-artwork{
  max-width: 100%;
}

#playlist-embeds{
  overflow: hidden;
}

.progress-bar{
  height: 10px;
  background: $grey;

  .current-progress{
    background: red;
    height: 10px;
    color: white;
    width: 0;
    font-size: 0.5em;
  }
}