// =======================
// Post-playback
// =======================
.playlist-finished{
	.main-header{
		margin-bottom: 0;
	}

	.playlist-progress{
		display: none;
	}
}

.playlist-finished-message{
	display: none;

	.intro-text{
		margin: 0 0 4em;
	}
}