// =======================
// Playlist Create
// =======================
.playlist-create{
	text-align: center;

	.logo{
		img{
			display: block;
			width: 85px;
			margin: 2em auto;
		}
	}
}

.intro-text{
	padding: 0 2em 4em;

	.btn{
		margin-top: 2em;
		line-height: 2.75;
	}
}

.new-playlist-url{
	text-align: center;
	cursor: text;
}