// ========================
// Playlist Playback
// ========================

//Header
$playback-artwork-width: 50px;

.playback-page {
	overflow: hidden;
}

.playlist{
	width: $left-rail-width;
	background: white;
}

.playback-header{
	position: relative;
	display: table;
	height: 240px;
	width: 100%;
	padding: 0 1em;
	font-family: $sans-special;
	text-align: center;
	background: white;
	border-right: 1px solid $border-grey;
	z-index: 100;
}

.playback-logo{
	display: inline-block;
	height: 60px;
	width: 60px;
	margin: 0 auto;

	img{
		width: 100%;
	}
}

.playback-logo-static{
	display: none;
}

.playback-header-meta{
	h2{
		margin: 0.5em 0;
	}
}

.playback-header-inner{
	display: table-cell;
	vertical-align: middle;
}

.playlist-controls{
	width: 10px;
	margin: 1em auto 0;
	text-indent: -4px;
}

.mute-toggle{
	@include icomoon('volume');
	cursor: pointer;

	button{
		margin: 0;
		padding: 0;
		background: 0;
		border: 0;
		text-indent: -9999px;
	}

	&.muted{
		@include icomoon('mute');
	}
}




//Playback tracks
.playback-tracks{
	position: absolute;
	top: $playback-header-height + $playback-search-height;
	bottom: 0;
	width: $left-rail-width;
	background: white;
	border-right: 1px solid $border-grey;
	z-index: 1;

	li{
		height: $playback-artwork-width;
	}
	.playback-track-list.played-tracks tr{
		display: none;
		.delete-track {
			display: none;
		}
		&.played,
		&.current {
			display: table-row;
		}
	}
	.playback-track-list.future-tracks tr{
		&.played,
		&.current {
			display: none;
		}
	}
}

.playback-track{
	position: relative;

	&.current{
		background: $light-green;
	}

	&.played {
		opacity: 0.5;
	}

	&:not(.current):not(.played){
		cursor: ns-resize;
	}

	&:not(.current) .playback-track-artwork img{
		@include filter(grayscale(100%));
		opacity: 0.5;
	}


}

.playback-track-artwork{
	a{
		display: block;
	}

	img{
		&.landscape{
			width: $playback-artwork-width * 1.333333; //60px * 1.333333 (youtube aspect ratio)
			margin-left: -10px;
		}
	}
}

.playback-track-title{
	font-size: 0.9em;

	&:hover{
		a{
			text-decoration: underline;
		}
	}
}

.loading-message {
	margin-top: 1.25em;
	font-family: $sans-special;
	font-size: 2em;
	text-align: center;

	.loading-indicator {
		margin: 1em 0;
	}
}

.playlist,
.loading-message,
.welcome-message,
.playlist-full-message,
.playlist-progress {
	display: none;
}




// Playback states
.playlist-full {
	.playlist-full-message {
		display: block;
	}
	.loading-message {
		display: none !important;
	}
}

.playlist-waiting {
	.welcome-message {
		display: block;
	}
	.loading-message {
		display: none !important;
	}
}

.playlist-loading {
	.loading-message {
		display: block;
	}
}

.playlist-playing{
	.main-content{
		background: $light-grey;
	}

	.main-header{
		display: none;
	}

	.playlist, .playlist-progress {
		display: inline-block;
	}

	a#barometer_tab{
		top: auto;
		bottom: 5%;
	}
}