// =======================
// Playlist Create
// =======================
.playlist-create{
	text-align: center;

	.main-content{
		display: table;
	}

	.logo{
		display: inline-block;

		img{
			width: 85px;
			margin: 0 auto;
		}
	}
}

.playlist-create-inner{
	display: table-cell;
	vertical-align: middle;
	width: 100%;

	.wrapper{
		margin-top: -1 * $footer-height;
	}
}

.static-logo{
	display: block;

	.new-playlist-loading &{
		display: none;
	}
}

.animated-logo{
	display: none;

	.new-playlist-loading &{
		display: block;
	}
}

.intro-text{
	padding: 3.5em 4em 4em;
	line-height: 1.2;
}

.create-playlist-btn{
	padding: 0 2em;

	.new-playlist-loading &{
		text-decoration: none;
	}
}