// =======================
// Post-playback
// =======================
.playlist-finished{
	.main-header{
		margin-bottom: 0;
	}

	.playlist-progress{
		display: none;
	}
}

.playlist-finished-message{
	display: none;

	.intro-text{
		margin: 0 0 3em;
	}

	.btn{
		margin-top: 1.5em;

		span{
			position: relative;
			padding-right: 0.25em;
			@include icomoon(new-window, after);

			&:after{
				display: inline-block;
				position: relative;
				top: 2px;
				padding-left: 0.5em;
			}
		}
	}
}

.post-playback-summary{
	width: 66.66666667%;
	margin: 2em auto 0;
	text-align: center;

	h1{
		padding-bottom: 0.5em;
		margin-bottom: 0.5em;
		border-bottom: 1px solid $border-grey;
		font-weight: 600;
	}

	h2{
		font-weight: 600;
	}

	ul{
		margin-top: 1em;
	}

	li{
		padding: 0.4em 0.5em 0.5em;
		margin: 0.5em;
		font-family: $sans-special;
		text-align: left;
		background: $light-grey;
		line-height: 1.2;
	}

	a:hover{
		text-decoration: underline;
	}

	.btn{
		width: 100%;
	}
}