// =======================
// Playlist Create
// =======================
.playlist-create{
	text-align: center;

	.main-content{
		margin-top: 4em;

		.no-previous-playlists &{
			margin: 0;
			display: table;
		}
	}

	.logo{
		display: inline-block;

		img{
			width: 85px;
			margin: 0 auto;
		}
	}
}

.playlist-create-inner{
	.no-previous-playlists &{
		display: table-cell;
		vertical-align: middle;
		width: 100%;

		.wrapper{
			margin-top: -1 * $footer-height;
		}
	}
}

.static-logo{
	display: block;

	.new-playlist-loading &{
		display: none;
	}
}

.animated-logo{
	display: none;

	.new-playlist-loading &{
		display: block;
	}
}

.intro-text{
	padding: 3.5em 4em 4em;
	line-height: 1.2;
}

.create-playlist-btn{
	padding: 0 2em;

	.new-playlist-loading &{
		text-decoration: none;
	}
}




// Previous Playlists
.previous-playlists{
	margin: 6em auto;

	table{
		table-layout: auto;
		border-right: 1px solid $border-grey;
		border-left: 1px solid $border-grey;
	}

	tr{
		cursor: pointer;

		&:hover td:first-child{
			text-decoration: underline;
		}
	}

	th, td{
		padding: 1em;
		white-space: nowrap;
	}
}