// ========================
// Playlist Playback
// ========================
$playback-artwork-width: 60px;

.playback-page {
	overflow: hidden;
}

.playlist{
	position: fixed;
	height: $playlist-header-height;
	top: 0;
	left: 0;
	right: 0;
	min-width: $fixed-element-min-width;
	padding-top: 20px; //(100px header height - 60px album art height) / 2
	background: white;
	@extend .clearfix;
	z-index: 100;
}

.playback-track{
	visibility: hidden;
	display: inline-block;
	position: absolute;
	right: 55%;
	left: 0;
	margin-left: 20px;
	@extend .transition-slow;

	&.current{
		visibility: visible;
	}

	&.marquee-container:after{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: -3em;
		width: 3em;
		-webkit-box-shadow: -15px 0 30px white;
		box-shadow: -15px 0 30px white;
	}

	&:last-child{ //This is so the last track slides from the second position on reveal, not the first. Probably a better way to do this.
		left: $playback-artwork-width;
	}

	&:not(.current) .playback-track-artwork img{
		@include filter(grayscale(100%));
		opacity: 0.5;

		.playlist-finished &{
			@include filter(grayscale(0));
			opacity: 1;
		}
	}
}

.playback-track-artwork{
	display: inline-block;
	vertical-align: middle;
	width: $playback-artwork-width;

	a{
		display: block;
		overflow: hidden;
		width: $playback-artwork-width;
	}

	img{
		width: $playback-artwork-width;

		&.landscape{
			width: $playback-artwork-width * 1.333333; //60px * 1.333333 (youtube aspect ratio)
			margin-left: -10px;
		}
	}
}

.playback-header{
	display: table;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100px;
	width: 50%;
	vertical-align: middle;
	margin-right: 20px;
	font-family: $sans-special;
}

.playback-logo{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	height: 50px;
	width: 50px;
	margin: auto;

	img{
		width: 100%;
	}
}

.playback-logo-static{
	display: none;
}

.playlist-finished{
	.playback-logo-static{
		display: block;
	}

	.playback-logo-animated{
		display: none;
	}
}

.playback-header-meta{
	display: table-cell;
	position: relative;
	padding: 0 70px 0 50px;
	vertical-align: middle;
	text-align: right;

	h2{
		margin: 0.2em 0;
		font-weight: 700;
	}
}

.total-time{
	opacity: 0.5;
}

@-webkit-keyframes titleMarquee {
  0%   { -webkit-transform: translate(0, 0); }
  100% { -webkit-transform: translate(-100%, 0); }
}

@keyframes titleMarquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

.playback-track-title{
	display: none;
	vertical-align: middle;
	border-left: 10px solid white;
	overflow: hidden;
	position: absolute;
	top: 0.8em;
	height: 1em;
	margin: 0;
	left: 100px;
	right: 0;

	&:hover{
		a{
			text-decoration: underline;
		}

		.marquee{
			-webkit-animation: titleMarquee 7s 1 linear;
			animation: titleMarquee 7s 1 linear;
			-webkit-animation-delay: 0.2s;
			animation-delay: 0.2s;
		}
	}

	a{
		position: absolute;
		height: 1em;
		line-height: 1em;
		display: block;
		white-space: nowrap;
		top: 0;
	}

	.current &{
		display: inline-block;
	}

	.playlist-finished &{
		display: none;
	}
}

.playlist-controls{
	display: none;
	vertical-align: middle;
	width: 10px;
	padding-left: 15px;

	.current &{
		display: inline-block;
	}
}

.mute-toggle{
	@include icomoon('volume');
	cursor: pointer;

	button{
		margin: 0;
		padding: 0;
		background: 0;
		border: 0;
		text-indent: -9999px;
	}

	&.muted{
		@include icomoon('mute');
	}

	.playlist-finished &{
		display: none;
	}
}

.loading-message {
	font-family: $sans-special;
	font-size: 2em;
	text-align: center;

	.loading-indicator {
		margin: 1em 0;
	}
}

.playlist,
.loading-message,
.welcome-message,
.playlist-full-message,
.playlist-progress {
	display: none;
}

// Playback states

.playlist-full {
	.playlist-full-message {
		display: block;
	}
	.loading-message {
		display: none !important;
	}
}

.playlist-waiting {
	.welcome-message {
		display: block;
	}
	.loading-message {
		display: none !important;
	}
}

.playlist-loading {
	.loading-message {
		display: block;
	}
}

.playlist-playing{
	.main-content{
		background: $light-grey;
	}

	.main-header{
		display: none;
	}

	.playlist, .playlist-progress {
		display: block;
	}

	a#barometer_tab{
		top: auto;
		bottom: 5%;
	}
}