.progress-bars {
  font-size: 0;
  margin: 16px 0;
  .track-progress {
    display: inline-block;
    background: $light-green;
    border-left: 3px solid white;
    &:first-child {
      border-left: none;
    }
    .current-progress {
      background: $green;
      height: 8px;
      width: 0;
    }
  }
}