// =======================
// Progress Bar
// =======================

.playlist-progress{
  position: absolute;
  left: $playback-artwork-width;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.progress-bars {
  height: 100%;
  font-size: 0;

  .track-progress {
    display: inline-block;
    height: 100%;

    .current-progress {
      @include transition(width, .5s);
      background: $green;
      height: 100%;
      width: 0;
    }
  }
}