.playlist-progress{
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.progress-bars {
  font-size: 0;

  .track-progress {
    display: inline-block;
    background: $light-green;

    & + .track-progress{
      border-left: 5px solid white;
    }

    .current-progress {
      @include transition(width, .5s);
      background: $green;
      height: 9px;
      width: 0;
    }
  }
}