// =======================
// Track Search
// =======================
.track-search{
  position: relative;
}

.track-search-input-container{
  position: relative;
  height: $playback-search-height;
  z-index: 100;
}

.track-search-input{
  padding-right: $basic-table-row-height + 10px;
  height: 100%;
  padding-left: 1em;
  font-size: 0.9em;
  background: $off-white;
  border: 1px solid $border-grey;
  border-left: 0;

  &:focus{
    border-color: $black;
  }

  &::-webkit-input-placeholder {
    color: $dark-grey;
  }

  &:-moz-placeholder {
    color: $dark-grey;
  }

  &::-moz-placeholder {
    color: $dark-grey;
  }

  &:-ms-input-placeholder {
    color: $dark-grey;
  }
}

.search-submit{
  position: absolute;
  right: 0;
  top: 0;
  width: $playback-search-height;
  height: 100%;
  @include icomoon(search);
  font-size: 1em;
  line-height: 0.9em;

  &:hover, &:focus{
    text-decoration: none;
    background: $green;
    color: $black;
  }

  &.loading{
    &:before{
      content: '';
      position: absolute;
      width: 26px;
      height: 26px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background-image: url("../img/loading-fast-green.gif");
      background-repeat: no-repeat;
      background-size: 26px 26px;
    }

    &:hover{
      background: $black;
    }
  }
}

.track-search-close{
  display: none;
  position: absolute;
  top: 0;
  right: 60px;
  bottom: 0;
  @include icomoon('plus');
  @include transform(rotate(45deg));
}

.track-search-results-container{
  opacity: 1;
  position: fixed;
  top: -100%;
  width: $left-rail-width;
  height: 100%;
  padding-bottom: $playback-header-height + $playback-search-height;
  overflow: hidden;
  border-right: 1px solid $border-grey;
  z-index: 10;
  @extend .transition;

  &.visible{
    top: $playback-header-height + $playback-search-height;
  }

  td{
    color: white;
  }
}

.track-search-results{
  margin: 0;
}

.track-search-result{
  background: $black;
  border-bottom: 1px solid $off-black;

  &:hover{
    background: $off-black;

    .track-search-actions{
      display: block;
    }

    .track-search-result-duration{
      display: none;
    }
  }

  &.added-track .track-search-result-add{
    @include icomoon('checkmark');
    background: none;

    &:hover{
      @include icomoon('plus');
      background: $green;
    }
  }
}

.track-search .track-search-result-title h5:hover{
  text-decoration: none;
}

.table-row-duration-and-actions{
  position: relative;
  font-family: $sans-special;
  text-align: center;
}

.track-search-result-duration{
  .added-track &{
    display: none;
  }
}

.track-search-result-source{
  display: inline;
  color: $dark-grey;
  font-style: italic;
  font-size: 12px;
}

.track-search-actions{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .added-track &{
    display: block;
  }
}

.track-search-result-add.btn-circle{
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  @include icomoon('plus');
}

.playlist-embed{
  position: absolute;
  left: -999em;
}

.no-results-message{
  position: absolute;
  top: 0;
  width: 100%;
  background: $black;
  color: white;
  height: $basic-table-row-height;
  line-height: $basic-table-row-height;
  padding: 0 1em;
  z-index: 10;
  @extend .transition;

  &.visible{
    top: $basic-table-row-height;
  }

  h4{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}