// =======================
// Track Search Results
// =======================
.track-search-container{
  margin: 2em 0 6em;
}

.track-search-results-container{
  position: relative;
  top: -1em;
  opacity: 0;
  @extend .transition-slow;

  &.visible{
    opacity: 1;
    top: 0;
  }
}

.track-search-results{
  table-layout: fixed;
	width: 100%;
  margin-top: 2em;
  text-align: left;
  border-top: 1px solid $light-grey;

	&:empty{
		display: none;
	}
}

@-webkit-keyframes highlight-flash {
  0% {
    background: $green;
  }
  100% {
    background: none;
  }
}

@-ms-keyframes highlight-flash {
  0% {
    background: $green;
  }
  100% {
    background: none;
  }
}

@-o-keyframes highlight-flash {
  0% {
    background: $green;
  }
  100% {
    background: none;
  }
}

@keyframes highlight-flash {
  0% {
    background: $green;
  }
  100% {
    background: none;
  }
}

.track-search-result{
  width: 100%;
  border-bottom: 1px solid $light-grey;
  color: $black;

  td{
    width: 45px;
    padding: 0.5em 0 0.4em 0;
    vertical-align: middle;
    text-align: center;
  }

  &.highlight{
    -webkit-animation: highlight-flash 2s;
    -moz-animation: highlight-flash 2s;
    -o-animation: highlight-flash 2s;
    animation: highlight-flash 2s;
  }
}

td.track-search-result-artwork{
  position: relative;
  width: 55px;
  text-align: left;
  padding-left: 10px;

  img{
    width: 50px;
    height: 50px;
  }
}

.preview-track-container{
  $button-width: 1.875;
  $progress-weight: 3px;
  .preview-button-outer {
    display: inline-block;
    position: relative;
    width: $button-width * 1em;
    height: $button-width * 1em;
    .half {
      position: absolute;
      z-index: 1;
      top: 0;
      width: 100%;
      height: 100%;
      &.lt50 {
        clip: rect(0, $button-width * 1em, $button-width * 1em, $button-width / 2 * 1em);
      }
      &.gt50 {
        clip: rect(0, $button-width / 2 * 1em, $button-width * 1em, 0);
      }
      .pie {
        @include transition(transform, .5s);
        width: 100%;
        height: 100%;
        &:before {
          content: '';
          display: block;
          width: 50%;
          height: 100%;
          background: $green;
        }
        &.left:before {
          margin-left: $button-width / 2 * 1em;
          border-top-right-radius: $button-width / 2 * 1em;
          border-bottom-right-radius: $button-width / 2 * 1em;
        }
        &.right:before {
          border-top-left-radius: $button-width / 2 * 1em;
          border-bottom-left-radius: $button-width / 2 * 1em;
        }
      }
    }
    .preview-button-target {
      position: absolute;
      z-index: 2;
      left: $progress-weight;
      top: $progress-weight;
      @include icomoon('play');
      color: $black;
      width: ($button-width * $body_fs * 1px) - ($progress-weight * 2);
      height: ($button-width * $body_fs * 1px) - ($progress-weight * 2);
      font-size: 1em;
      cursor: pointer;
      background: white;
      border-radius: 50%;
      border: none;
      outline: none;
      &:hover {
        color: $green;
      }
      &.playing {
        @include icomoon('stop');
        &:before {
          padding-left: 1px;
        }
      }
      &:before {
        font-size: .8em;
        line-height: ($button-width * $body_fs * 1px) - ($progress-weight * 2) !important;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding-left: 2px;
      }
      &.loading {
        background: white url('../img/preview-loading.gif') no-repeat 50% 50%;
        background-size: 50%;
        &:before {
          content: '';
        }
      }
    }
  }
}

td.track-search-result-title{
  width: 60%;
  text-align: left;
  padding-left: 1em;
  span{
    display: inline;
  }

  h5{
    max-width: 75%;
    float: left;
    padding-right: 0.25em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;

    &:hover{
      text-decoration: underline;
    }
  }

  a{
  	color: $black;
  }
}

.track-search-result-source{
  display: inline;
  font-family: $sans-special;

  i{
    display: inline-block;
    line-height: 1.4;
    float: left;
    color: $dark-grey;
    font-size: 0.8em;

    &:hover{
      text-decoration: underline;
    }
  }
}

.track-search-result-duration{
  font-family: $sans-special;
}

.track-search-link{
  &:before{
    font-size: 0.8em;
  }

  &.soundcloud {
    @include icomoon('soundcloud');
  }
  &.youtube {
    @include icomoon('youtube');
  }
}

.add-track-icon{
  display: inline-block;
  width: 30px;
  height: 30px;
  @include icomoon('plus');
  font-size: 1.25em;
  line-height: 34px;
  border: 1px solid;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
  background: $black;
  color: $green;
  border: 0;

  &:hover{
    color: $black;
    background: $green;
  }
}

.add-track-icon{

}

.playlist-embed{
  display: none;
}

.no-results-message{
  display: none;
  margin-top: 2.5em;
  font-size: 1.5em;
}