// =======================
// Track Search
// =======================
.track-search{
  position: relative;
}

.track-search-results-container{
  position: relative;
  top: -1em;
  opacity: 0;
  @extend .transition-slow;

  &.visible{
    opacity: 1;
    top: 0;
  }
}

.track-search-results{
  margin-top: 1em;
}

.track-search-result{
  border-bottom-color: $light-grey;
}

.track-search-result-source{
  display: inline;
  font-family: $sans-special;

  i{
    display: inline-block;
    line-height: 1.4;
    float: left;
    color: $dark-grey;
    font-size: 0.8em;

    &:hover{
      text-decoration: underline;
    }
  }
}

.track-search-result-duration{
  position: relative;
  font-family: $sans-special;

  .playback-track-list &{
    text-align: center;
  }
}

$button-width: 1.875;
$progress-weight: 3px;

td.preview-track-container{
  width: $button-width * 1em;

  .preview-button-outer {
    display: inline-block;
    position: relative;
    width: $button-width * 1em;
    height: $button-width * 1em;

    .half {
      position: absolute;
      z-index: 1;
      top: 0;
      width: 100%;
      height: 100%;

      &.lt50 {
        clip: rect(0, $button-width * 1em, $button-width * 1em, $button-width / 2 * 1em);
      }

      &.gt50 {
        clip: rect(0, $button-width / 2 * 1em, $button-width * 1em, 0);
      }

      .pie {
        @include transition(transform, .5s);
        width: 100%;
        height: 100%;

        &:before {
          content: '';
          display: block;
          width: 50%;
          height: 100%;
          background: $green;
        }

        &.left:before {
          margin-left: $button-width / 2 * 1em;
          border-top-right-radius: $button-width / 2 * 1em;
          border-bottom-right-radius: $button-width / 2 * 1em;
        }

        &.right:before {
          border-top-left-radius: $button-width / 2 * 1em;
          border-bottom-left-radius: $button-width / 2 * 1em;
        }
      }
    }

    .preview-button-target {
      position: absolute;
      z-index: 2;
      left: $progress-weight;
      top: $progress-weight;
      @include icomoon('play');
      color: $black;
      width: ($button-width * $body_fs * 1px) - ($progress-weight * 2);
      height: ($button-width * $body_fs * 1px) - ($progress-weight * 2);
      font-size: 1em;
      cursor: pointer;
      background: white;
      border-radius: 50%;
      border: none;
      outline: none;

      &:hover {
        color: $green;
      }

      &.playing {
        @include icomoon('stop');
        &:before {
          padding-left: 1px;
        }
      }

      &:before {
        font-size: 0.8em;
        line-height: 2 !important;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding-left: 2px;
      }

      &.loading {
        background: white url('../img/loading-fast.gif') no-repeat 50% 50%;
        background-size: 100%;
        width: $button-width * 1em;
        height: $button-width * 1em;
        top: 0;
        left: 0;

        &:before {
          content: '';
        }
      }
    }
  }
}

.track-search-actions{
  text-align: right;

  .playback-page &{
    text-align: center;
  }
}

.track-search-result-add.btn-circle{
  display: inline-block;
  @include icomoon('plus');
}

.playlist-embed{
  position: absolute;
  left: -999em;
}

.no-results-message{
  position: absolute;
  top: 0;
  width: 100%;
  background: $black;
  color: white;
  height: $basic-table-row-height;
  line-height: $basic-table-row-height;
  padding: 0 1em;
  z-index: 10;
  border-right: 1px solid $border-grey;
  @extend .transition;

  &.visible{
    top: $basic-table-row-height;
  }
}