// =======================
// Track Search Results
// =======================

.track-search-results{
	display: inline-block;
	width: 100%;
	margin-top: 2em;
	text-align: left;
  border-top: 1px solid $black;

	&:empty{
		display: none;
	}

  li{
    padding: 1.2em 0 1em;
    border-bottom: 1px solid $black;
    @extend .clearfix;
  }
}

.track-search-result-meta{
  width: 90%;
  float: left;
}

.track-search-result-artwork,
.track-search-result-title,
.track-search-result-duration,
.track-search-result-source{
	float: left;
}

.track-search-result-artwork{
  width: 50px;
  margin-right: 1em;

  img{
    width: 100%;
  }
}

.track-search-result-title{
	width: 80%;
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  a{
  	color: $black;
  }
}

.track-search-result-duration{
  font-weight: bold;
}

.track-search-result-actions{
  float: right;
  width: 10%;
}