.splash-page {
  color: white;
  .background-image {
    position: fixed;
    z-index: 1;
    left: -2.5%;
    top: -2.5%;
    @include filter(blur(10px));
    width: 105%;
    height: 105%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    &.active {
      display: block;
    }
    @include smaller-than(medium) {
      left: -5%;
      top: -5%;
      width: 110%;
      height: 110%;
    }
    @include smaller-than(small) {
      left: -10%;
      top: -10%;
      width: 120%;
      height: 120%;
    }
    &.sugarlumps {
      background-image: url('../img/splash/sugarlumps.gif');
    }
    &.thriller {
      background-image: url('../img/splash/thriller.gif');
    }
    &.kelis {
      background-image: url('../img/splash/kelis.gif');
    }
    &.gangnam {
      background-image: url('../img/splash/gangnam.gif');
    }
    &.hammer {
      background-image: url('../img/splash/hammer.gif');
    }
  }
  .page-content {
    position: relative;
    z-index: 2;
    display: table;
    width: 20%;
    height: 100%;
    margin: 0 auto;
    max-width: 300px;
  }

  .splash-content {

    height: 100%;
    margin: 0 auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    .logo {
      margin: 0 0 1em;
      width: 100%;
      img {
        width: 100%;
      }
    }
    .release-date {
      font-size: 3em;
      @include smaller-than(medium) {
        font-size: 2em;
      }
    }
  }
}