<ul class="message-list" id="message-list"></ul>
<div class="new-message-container">
	<img class="new-message-avatar" src="/img/avatars/<%= avatar.image %>" title="<%= avatar.name %>">
	<div class="new-message-field-container">
		<textarea rows="1" class="new-message-field"></textarea>
	</div>
	<button type="button" class="new-message-button">Send</button>
</dib>