<div class="messages-inner">
	<div class="new-playlist-onboarding">
		<h2>Share this link with a friend:</h2>
		<input type="text" value="<%- bootstrap.baseUrl %>/84hT7dj" class="playlist-share-url" onclick="this.select()"/>
	  <p>Then, add some tracks to your playlist on the left.<br>The music starts when a friend joins.</p>
	</div>
	<ul class="message-list"></ul>
</div>

<div class="new-message-container">
	<div class="large-wrapper">
		<div class="new-message-field-container">
			<input type="text" class="new-message-field" placeholder="Start chatting here..."></input>
		</div>
		<button type="button" class="new-message-button btn btn-black">Send</button>
	</div>
</div>