<ul class="message-list"></ul>
<span class="remote-user-is-typing">Other user is typing...</span>
<img src="/img/avatars/<%= avatar.image %>" title="<%= avatar.name %>">
<textarea class="new-message-field"></textarea>