<div class="chat-avatar-and-time">
	<img class="chat-message-avatar" src="/img/avatars/<%= avatar.image %>" title="<%= avatar.name %>">
	<span class="chat-message-timestamp"><%= playlistTime %></span>
</div>

<p class="chat-message-content"><%= content %></p>
