<img class="chat-message-avatar" src="/img/avatars/<%= avatar.image %>" title="<%= avatar.name %>">
<span class="chat-message-timestamp"><%= playlistTime %></span>
<span class="chat-message-content"><%= content %></span>
