<ul class="message-list" id="message-list"></ul>
<div class="new-message-container">
	<div class="new-message-field-container">
		<input type="text" class="new-message-field" placeholder="Start chatting here..."></input>
	</div>
	<button type="button" class="new-message-button btn-black">Send</button>
</dib>