<div class="messages-inner">
	<div class="new-playlist-onboarding">
		<h2>Share this link with a friend.</h2>
		<input type="text" value="milkshake.mu/84hT7dj" onclick="this.select()"/>
	  <p>While you wait for them, add some tracks to your playlist on the left. The music will start when a friend joins.</p>
	</div>
	<ul class="message-list"></ul>
</div>

<div class="new-message-container">
	<div class="large-wrapper">
		<div class="new-message-field-container">
			<input type="text" class="new-message-field" placeholder="Start chatting here..."></input>
		</div>
		<button type="button" class="new-message-button btn btn-black">Send</button>
	</div>
</div>