<div class="playlist-progress">
  <div class="progress-bars">
    <div class="track-progress">
      <div class="current-progress"></div>
    </div>
  </div>
</div>
<div class="playback-track-artwork">
  <a href="<%- url %>" target="_blank">
  <% if (artwork) { %>
    <img src="<%- artwork %>" alt="Album artwork"/>
  <% } else { %>
    <img src="/img/artwork-placehold.gif" alt="Album artwork"/>
  <% } %>
  </a>
</div>
<h2 class="playback-track-title"><a href="<%- url %>" target="_blank"><%- title %></a></h2>