<div class="track-search-input-container">
  <input type="text" class="track-search-query input-field" placeholder="Search for music">
</div>
<div class="track-search-results-container">
  <table class="track-search-results"></table>
</div>