<form class="track-search-form">
  <div class="track-search-input-container">
    <input type="text" class="track-search-input input-field" placeholder="Search music from YouTube or Soundcloud" />
    <span class="screen-reader-text">Close search results</span>
    <a href="" class="track-search-close btn-circle"></a>
    <span class="screen-reader-text">Search tracks</span>
    <button type="submit" class="search-submit btn btn-black"></button>
  </div>
</form>
<div class="no-results-message">
  <h4>No results for &ldquo;<span class="search-term"></span>&rdquo;</h4>
</div>
<div class="track-search-results-container">
  <table class="track-search-results basic-table"></table>
</div>