{% set title = playlist.title + " - " %}
{% extends 'layout.html' %}
{% block content %}
<div class="wrapper">

  <div class="share-playlist-url">
    <div class="intro-text">
      <h1>It takes two to tango, baby.</h1>
      <p>Copy this link and send to a friend. &ldquo;{{ playlist.title }}&rdquo; will begin once your friend has joined the room</p>
    </div>
    <input type="text" class="share-link input-field" value="{{ permalink }}">
    <button class="btn copy-button" data-clipboard-text="{{ permalink }}">Copy Link</button>
  </div>

  <div class="loading-message">
    <p>Loading tracks...</p>
    <img src="/img/preview-loading.gif" class="loading-indicator">
  </div>

  <div class="playlist">
    <header class="playback-header">
      <h1>{{ playlist.title }}</h1>
      <time><span class="current-time">0:00</span> / <span class="total-time">{{ playlist.totalTime }}</span></time>
    </header>
    <div class="progress-bars">
      {% for track in playlist.tracks %}
      <div class="track-progress" style="width: {{ track.duration / playlist.totalDuration * 100 }}%">
        <div class="current-progress"></div>
      </div>
      {% endfor %}
    </div>
    <section class="playlist-tracks">
      <ul class="playlist-track-list">
      {% for track in playlist.tracks %}
        <li class="playback-track">
          <a href="{{ track.url }}" target="_blank">
            <div class="playback-track-artwork">
              {% if track.artwork %}
                <img src="{{ track.artwork }}" alt="Album artwork"/>
              {% else %}
                <img src="/img/artwork-placehold.gif" alt="Album artwork"/>
              {% endif %}
            </div>
            <h2 class="playback-track-title">{{ track.title }}</h2>
          </a>
        </li>
      {% endfor %}
      </ul>
      <div class="messages"></div>
    </section>
  </div>

  {% if hasFinished %}
  <p>Sorry, this playlist has now finished. Go <a href="/">make a new one</a>.</p>
  {% endif %}
</div>

<script>
var bootstrap = {
  tracks: [{{ playlist.tracks|raw }}],
  messages: [{{ conversation.messages|raw }}],
  startTime: '{{ playlist.startTime }}'
};
var playlistId = "{{ playlist.id }}";
</script>
{% endblock %}


{% block scripts %}
{% if !hasFinished %}
<script src="http://{{ socketAddress }}/socket.io/socket.io.js"></script>
<script>
$(function() {
  TWM.Playlist.on('start', function() {
    var socket = io.connect('http://{{ socketAddress }}');
    socket.on('connect', function (data) {
      TWM.Playlist.API.onUserConnect(socket);
    });
  });
  TWM.Playlist.start();
});
</script>
{% endif %}
{% endblock %}