{% extends 'layout.html' %}
{% block content %}
{% if hasFinished %}
<p>Sorry, this playlist has now finished. Go <a href="/">make a new one</a>.</p>
{% endif %}
<h1>{{ title }}</h1>
<section class="playlist">
  <ul class="playlist-track-list">
  {% for track in tracks %}
    <li class="playlist-track" style="width: {{ track.duration / totalDuration * 100 }}%">
      <h3 class="track-title">{{ track.title }}</h3>
      <img class="track-artwork" src="{{ track.artwork }}" href="{{ track.title }}">
      <div class="progress-bar">
        <div class="current-progress"></div>
        <canvas class="progress-circle" width="250" height="250"></canvas>
      </div>
    </li>
  {% endfor %}
  </ul>
  <div class="messages"></div>
</section>
<script>
var bootstrap = [{{ tracks|raw }}];
var playlist_id = "{{ id }}";
</script>
{% endblock %}


{% block scripts %}
{% if !hasFinished %}
<script>
$(function() {
  var socket = io.connect('http://{{ host }}:1337');
  TWM.Playlist.start();
  socket.on('connect', function (data) {
    TWM.Playlist.API.onUserConnect(socket);
    TWM.Playlist.API.joinRoom();
  });
});
</script>
{% endif %}
{% endblock %}