{% set title = playlist.title + " - " %}
{% set bodyClass = "playback-page" %}
{% extends 'layout.html' %}
{% block content %}

  <div class="wrapper">
    <!-- Room Full -->
    <div class="playlist-full-message">
      <div class="intro-text-container">
        <a href="/" class="logo">
          <img class="playback-logo-static" src="/img/main-logo.svg" alt="Milkshake logo" />
        </a>
        <div class="intro-text">
          <h2>Sorry, this playlist already has two listeners.<br>Click below to make a new one.</h2>
        </div>
        <form id="playlist-url-form" action="/process-new-playlist/" method="post">
          <input type="hidden" name="newPlaylistId" value="ZyZw6PG_h">
          <input type="submit" class="btn btn-black create-playlist-btn" value="Create a Playlist">
        </form>
      </div>
    </div>
  </div>

  <!-- Playlist contents -->
  <div class="playlist">
    <header class="playback-header">
      <div class="playback-header-inner">
        <a href="/" class="playback-logo">
          <img class="playback-logo-animated" src="/img/loading-slow.gif" alt="Milkshake logo" />
          <img class="playback-logo-static" src="/img/main-logo.svg" alt="Milkshake logo" />
        </a>
        <h2 class="playlist-title playlist-title-static" title="Click to edit">{{ playlist.title }}</h2>
        <form>
          <h2 class="playlist-title-editable">
            <input class="playlist-title-input" type="text" name="playback-title" placeholder="Enter a room title." value="{{ playlist.title }}" />
          </h2>
        </form>
        <div class="playlist-controls">
          <a class="mute-toggle"></a>
          <span class="screen-reader-text">Mute</span>
        </div>
      </div>
    </header>
    <div class="track-search-container"></div>
    <div class="playback-tracks">
      <table class="playback-track-list played-tracks basic-table"></table>
      <table class="playback-track-list future-tracks basic-table"></table>
    </div>
  </div>

  <!-- Chat container -->
  <div class="messages-container"></div>

<script>
var bootstrap = {
  playlist: {{ playlist|json|raw }},
  messages: [{{ conversation.messages|raw }}],
  baseUrl: '{{ baseUrl }}'
};
</script>
{% endblock %}


{% block scripts %}
<script>
TWM.Playlist.TrackSearch.start()
</script>

{% if !hasFinished %}
<script src="http://{{ socketAddress }}/socket.io/socket.io.js"></script>
<script>
$(function() {
  TWM.Playlist.on('start', function() {
    var socket = io.connect('http://{{ socketAddress }}');
    socket.on('connect', function (data) {
      TWM.Playlist.API.onUserConnect(socket);
      TWM.Playlist.Chat.start();
    });
  });
  TWM.Playlist.start();
});
</script>
{% endif %}
{% endblock %}