// =======================
// $Colors
// =======================
$green			:		#32ff00;
$red				:		#d13d27;
$white			:		#fff;
$light-grey	: 	#f3f3f3;
$grey				:		#aaa;
$dark-grey	:		#838384;
$black			:		#222;
$blue				:		#4450a4;