// =======================
// $Colors
// =======================
$green			:		#72ff00;
$white			:		#fff;
$light-grey	: 	#f3f3f3;
$grey				:		#cecece;
$dark-grey	:		#838384;
$black			:		#222;
$off-black	:		#353535;
$blue				:		#4450a4;
$light-green:   #c7ff99;