// =======================
// $Webfonts
// =======================
@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon/icomoon.eot?-lk73d8');
	src:url('/fonts/icomoon/icomoon.eot?#iefix-lk73d8') format('embedded-opentype'),
		url('/fonts/icomoon/icomoon.woff?-lk73d8') format('woff'),
		url('/fonts/icomoon/icomoon.ttf?-lk73d8') format('truetype'),
		url('/fonts/icomoon/icomoon.svg?-lk73d8#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}