// =======================
// Form Elements
// =======================
.input-field{
	width: 100%;
	height: 3em;
	padding: 1em;
	background: white;
	border: 4px solid $green;
	font-family: $sans-light;
	font-size: 1.5em;
	outline: none;

	&::-webkit-input-placeholder {
		font-family: $sans-light;
		color: $grey;
	}

	&:-moz-placeholder {
		font-family: $sans-light;
		color: $grey;
	}

	&::-moz-placeholder {
		font-family: $sans-light;
		color: $grey;
	}

	&:-ms-input-placeholder {
		font-family: $sans-light;
		color: $grey;
	}

	&:focus{
		outline: none;

		&::-webkit-input-placeholder {
		   color: rgba($light-grey, 0.6);
		}

		&:-moz-placeholder {
		   color: rgba($light-grey, 0.6);
		}

		&::-moz-placeholder {
		   color: rgba($light-grey, 0.6);
		}

		&:-ms-input-placeholder {
		   color: rgba($light-grey, 0.6);
		}
	}
}

.btn{
	width: 100%;
	height: 3em;
	font-size: 1.5em;
	line-height: 2em;
	background: $green;
	color: white;
	font-family: $sans-special;
	border-radius: 1px;
	border: 4px solid $green;
	cursor: pointer;

	&:hover{
		background: white;
		color: $green;
	}

	&:focus{
		outline: none;
	}
}