// =======================
// $Icons
// =======================

// Global Icon Styles
.icon:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// To accompany all icons so screen readers communicate what icons mean.
// Markup looks like <span class="screen-reader-text">E-mail</span>
.screen-reader-text{
	position: absolute;
	top: -9999px;
	left: -9999px;
}




// Social media icons
.icon-soundcloud:before{
	content: '\f1be';
}

.icon-youtube:before{
	content: '\f166';
}