// =======================
// $Icons
// =======================

// Global Icon Mixin
@mixin icomoon($icon, $position: "before", $replace: false, $fs: $body_fs) {
  // If we're replacing the text, set font-size to 0
  @if $replace {
    font-size: 0;
    @include appearance(none);
    border: none;
    background: none;
  }
  // Pseudo-element properties
  -webkit-font-smoothing: antialiased;
  &:#{$position} {
    @extend .icon-#{$icon};
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    @if $replace {
      font-size: $fs * 1px;
      line-height: $fs * 1px;
      vertical-align: middle;
    }
    @content;
  }
}

// To accompany all icons so screen readers communicate what icons mean.
// Markup looks like <span class="screen-reader-text">E-mail</span>
.screen-reader-text{
	position: absolute;
	top: -9999px;
	left: -9999px;
}

// Social media icons
.icon-soundcloud{
	content: '\f1be';
}

.icon-youtube{
	content: '\f166';
}




// Player icons
.icon-play{
	content: '\e601';
}

.icon-pause{
	content: '\e600';
}

.icon-mute{
  content: '\e603';
}

.icon-volume{
  content: '\e604';
}

.icon-stop{
  content: '\e605';
}



// UI icons
.icon-trashcan{
  content: '\f014';
}

.icon-plus{
  content: '\e602';
}

.icon-checkmark{
  content: '\e603';
}

.icon-new-window{
  content: '\e606';
}

.icon-double-right-arrow{
  content: '\f101';
}