// =======================================================================
// Intro Text
// (this is what I'm calling the logo / text / button combo)
// ========================================================================

.intro-text-container{
	.logo{
		display: inline-block;

		img{
			width: 85px;
			margin: 0 auto;
		}
	}

	.intro-text{
		padding: 2.5em 0;
		line-height: 1.3;
	}

	.btn-black{
		.new-playlist-loading &{
			text-decoration: none;
		}
	}
}