// =========================
// Media Query Definitions
// =========================

$mqs: (
  small: 25em,
  medium: 40em,
  large: 50em,
  extra-large: 1200px,
  huge: 100em
);

@mixin smaller-than($size) {

  $width: map-get($mqs, $size);
  @media (max-width: $width) {
    @content;
  }
}

@mixin larger-than($size) {

  $width: map-get($mqs, $size);
  @media (min-width: $width) {
    @content;
  }
}