// =====================================
// Table data (search results, playlist)
// =====================================
.basic-table{
  table-layout: fixed;
	width: 100%;
  text-align: left;

	&:empty{
		display: none;
	}
}

.basic-table-row{
  width: 100%;
  border-bottom: 1px solid $border-grey;
  color: $black;

  td{
    width: 50px;
    vertical-align: middle;
    font-size: 0.9em;
  }

  &.highlight{
    -webkit-animation: highlight-flash 2s;
    animation: highlight-flash 2s;
  }
}

.basic-table-artwork{
  position: relative;
  text-align: left;
}

.basic-table-artwork-inner{
  position: relative;
	display: block;
  width: $playback-artwork-width;
  height: $playback-artwork-width;
  overflow: hidden;

  img{
    position: absolute;
  	display: block;
    min-width: 100%;
    height: $playback-artwork-width;
    left: -50%;
    right: -50%;
    margin: auto;
  }

  a{
    display: block;
    position: relative;
    width: $playback-artwork-width;
    height: $playback-artwork-width;
  }
}

td.basic-table-row-title{
	position: relative;
	width: 80%;
	text-align: left;
	padding-left: 1em;

	span{
	  display: inline;
	}

	h5{
	  max-width: 75%;
	  float: left;
	  padding-right: 0.25em;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	  display: inline-block;
	  cursor: pointer;

	  &:hover{
	    text-decoration: underline;
	  }
	}

	.playback-page & h5{
		max-width: 100%;
	}
}

// Indicator that track has been added
@-webkit-keyframes highlight-flash {
  0% {
    background: $green;
  }
  100% {
    background: $off-black;
  }
}

@keyframes highlight-flash {
  0% {
    background: $green;
  }
  100% {
    background: $off-black;
  }
}