// =====================================
// Table data (search results, playlist)
// =====================================
.basic-table{
  table-layout: fixed;
	width: 100%;
  text-align: left;

	&:empty{
		display: none;
	}
}

.basic-table-row{
  width: 100%;
  border-bottom: 1px solid $border-grey;
  color: $black;

  td, th{
    width: 50px;
    vertical-align: middle;
    font-size: 0.9em;
    font-family: $sans-special;
  }

  th{
    padding: 0.5em 0;
    background: $light-grey;
    border-top: 1px solid $border-grey;
    color: $dark-grey;
  }

  &.highlight{
    -webkit-animation: highlight-flash 2s;
    animation: highlight-flash 2s;
  }
}

.basic-table-artwork{
  position: relative;
  text-align: left;
}

.basic-table-artwork-inner{
  position: relative;
	display: block;
  width: $playback-artwork-width;
  height: $playback-artwork-width;
  overflow: hidden;

  img{
    position: absolute;
  	display: block;
    min-width: 100%;
    height: $playback-artwork-width;
    left: -50%;
    right: -50%;
    margin: auto;
  }

  a{
    display: block;
    position: relative;
    width: $playback-artwork-width;
    height: $playback-artwork-width;
  }
}

td.basic-table-row-title{
	position: relative;
	width: 75%;
	text-align: left;
	padding-left: 1em;

	span{
	  display: inline;
	}

	h5{
    position: relative;
	  max-width: 75%;
	  display: inline;
	  cursor: pointer;

	  &:hover{
	    text-decoration: underline;
	  }
	}
}

// Indicator that track has been added
@-webkit-keyframes highlight-flash {
  0% {
    background: $green;
  }
  100% {
    background: $off-black;
  }
}

@keyframes highlight-flash {
  0% {
    background: $green;
  }
  100% {
    background: $off-black;
  }
}

.table-row-duration{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1em;
  margin: auto;
}