// =======================
// $Typography
// =======================

$sans: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$sans-light: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$sans-special: "Inconsolata", $sans-light;

h1, h2, h3, h4, h5, h6{
	font-weight: normal;
	font-family: $sans-special;
}

h1{
	font-size: 1.5em;
}

h2{
	font-size: 1.6em;
}

h3{
	font-size: 1.2em;
	margin-bottom: 0.5em;
}

i{
	font-style: italic;
}

b{
	font-weight: bold;
}