// =======================
// $Typography
// =======================

$sans: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$sans-light: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

h1, h2, h3, h4, h5, h6{
	font-weight: normal;
	font-family: "Inconsolata", $sans-light;
}

h1{
	font-size: 2.4em;
}

h2{
	font-size: 1.4em;
	margin-bottom: 0.5em;
}

h3{
	font-size: 1.2em;
	margin-bottom: 0.5em;
}