// =======================
// $Variables
// =======================

$body_fs: 16;
$footer-height: 80px;
$playlist-header-height: 100px;
$new-message-container-height: 50px;
$playback-search-height: $new-message-container-height;
$playlist-ended-message-height: 3em;
$fixed-element-min-width: 800px;
$progress-bar-height: 9px;
$left-rail-width: 320px;
$playback-header-height: 240px;