// =======================
// $Variables
// =======================

$body_fs: 16;
$footer-height: 80px;
$playlist-header-height: 100px;
$new-message-container-height: 45px;
$playlist-ended-message-height: 3em;
$fixed-element-min-width: 800px;